@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
@*<style>
    img{
        border-radius:50%;
    }
</style>*@
<h1>Rehber Listesi</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        count += 1;
        <tr>
            <td>@count</td>
            <td> <img class="rounded" src="@item.Image" height="100" width="100" /></td>
            <td>@item.Name </td>
            <td>@item.Description</td>
            @{
                if (item.Status == true)
                {
                    <td><a href="/Admin/Guide/ChangeToFalse/@item.Id" class="btn btn-outline-danger">Pasif yap</a></td>
                }
                else
                {
                    <td><a href="/Admin/Guide/ChangeToTrue/@item.Id" class="btn btn-outline-success">Aktif yap</a></td>
                }
            }
            <td><a href="/Admin/Guide/EditGuide/@item.Id" class="btn btn-success">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Admin/Guide/AddGuide" class="btn btn-success">Yeni Rehber Girişi </a>

